---
eleventyNavigation:
  parent: Get started
  key: Pico fork <img src="https://img.shields.io/github/v/release/anyblades/pico?label=&color=white"> <mark>NEW</mark>
  order: 4
title: Pico CSS ✨
description: https://github.com/anyblades/pico fork
bricks:
  - path: https://raw.githubusercontent.com/anyblades/pico/refs/heads/main/README.md
    section: docs
  - content_here: true
  - path: https://raw.githubusercontent.com/anyblades/pico/refs/heads/main/README.md
    section: docs2
---

{{ ('https://raw.githubusercontent.com/anyblades/blades/refs/heads/main/README.md' if site.prod else '../../blades/README.md')
  | fetch | section('install')
  | replace('/blades/archive/', '/pico/archive/')
  | replace('`css/blades.', '`css/pico.')
  | replace('"css/blades.', '"css/pico.')
  | replace('@anyblades/blades@', '@anyblades/pico@')
  | replace('/blades.min.', '/pico.min.')
  | markdownify | safe }}
