---
eleventyNavigation:
  parent: Get started
  key: Pico fork <img src="https://img.shields.io/github/v/release/anyblades/pico?label=&color=white"> <mark>NEW</mark>
  order: 4
title: "Pico<mark>+</mark>Blades CSS"
description: https://github.com/anyblades/pico fork + https://github.com/anyblades/blades standalone
# eleventyComputed:
#   summary: |-
#     {{ 'https://raw.githubusercontent.com/anyblades/pico/refs/heads/main/README.md'
#      | if: site.prod | default: '../../pico/README.md' | fetch | section: 'summary' | markdownify }}

bricks:
  - path: https://raw.githubusercontent.com/anyblades/pico/refs/heads/main/README.md
    section: docs
  - content_here: true
  - path: https://raw.githubusercontent.com/anyblades/pico/refs/heads/main/README.md
    section: docs2
---

{{ ('https://raw.githubusercontent.com/anyblades/blades/refs/heads/main/README.md' if site.prod else '../blades/README.md')
  | fetch | section('install')
  | replace('/blades/archive/', '/pico/archive/')
  | replace('@anyblades/blades@', '@anyblades/pico@')
  | replace('assets/blades.', 'css/pico.blades.')
  | markdownify | safe }}
