---
eleventyNavigation:
  parent: Get started
  key: Standalone version <mark>NEW</mark>
  order: 3

bricks:
  - content_here: true
  - md: ---
  - path: ./css/_standalone.md
  - md: "## Theme"
  - path: https://raw.githubusercontent.com/anyblades/blades/refs/heads/main/src/blades.standalone.theme.css
    section: code
---

{% set _ = ('https://raw.githubusercontent.com/anyblades/blades/refs/heads/main/README.md' if site.prod else '../../blades/README.md')
  | fetch | section('install') %}
{{ _ | replace('css/blades.', 'css/blades.standalone.') | replace('/blades";', '/blades/standalone";') | markdownify | safe }}
