{% extends 'blades/html.njk' %}

{% set content_for_header %}
  <link rel="canonical" href="https://11ty.blades.ninja/starters/" />
  <style>
    header nav {
      --pico-primary: var(--pico-contrast);
      align-items: center;
      big a { text-decoration: none; font-weight: bold; font-size: larger; }
    }
    main {
      display: flex; overflow: clip;
      > iframe { width: 100%; max-width: 1023px; margin: -200px auto 0 auto }
    }
    h1 sup {
      font-size: 13px; display: block;
      letter-spacing: .0625em; text-transform: uppercase; color: #8b4f00;
    }
    a[role="button"] {
      text-align: start;
      border-width: 1px 0 0 1px;
      margin: 0 0 0.5rem -1rem;
    }
    .opt { @media screen and (max-width: 767px) { display: none } }
  </style>
{% endset %}

{% block body %}
  <header class="container">
    <nav>
      {#TODO: add "Nav brand" helper #}
      <big><a href="/">🥷 <em>Bl</em>ades</a></big>
      <ul>
        {% for page in collections.all %}{% if not page.data.eleventyNavigation.parent and page.data.eleventyNavigation.key %}
        <li>
          <details class="dropdown">
            <summary role="link">{{ page.data.eleventyNavigation.key }}</summary>
            {{ collections.all | eleventyNavigation(page.data.eleventyNavigation.key) | eleventyNavigationToHtml | safe }}
          </details>
        </li>
        {% endif %}{% endfor %}
        <li class="faded opt">|</li>
        <li><a href="https://github.com/anyblades/blades"><i class="fa-brands fa-github fa-lg"></i></a></li>
        <li><a href="https://x.com/any_blades"><i class="fa-brands fa-x-twitter fa-lg"></i></a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% if iframe %}
      <iframe src="{{ iframe }}"></iframe>
    {% else %}
      <div class="container breakout-all">
        {% if title %}<h1>{{ title | safe }}</h1>{% endif %}
        {% if description %}<p><big>{{ description }}</big></p>{% endif %}
        {{ content | safe }}
        {% for item in includes %}
          {% if item.md %}
            {{ item.md | markdownify | safe }}
          {% elif item.tpl %}
            {{ item.tpl | renderContent('njk', { collections: collections }) | safe }}
          {% elif item.path %}
            {% set _path = item.path %}
            {% if not site.prod and '/anyblades/' in _path %}
              {% set _path = _path
                | replace('https://raw.githubusercontent.com/anyblades/', '../')
                | replace('/refs/heads/main/', '/') | replace('/refs/heads/master/', '/') %}
            {% endif %}
            {{ _path | fetch | section(item.section) | markdownify | safe }}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </main>
  <footer class="container">
    <hr style="margin-block-start: 0">
    <small><small>
      Code licensed <a href="https://github.com/anyblades/blades/blob/main/LICENSE.md">MIT</a>,
      docs <a href="https://github.com/anyblades/blades.ninja/blob/main/LICENSE.md">CC BY-SA 4.0</a>. &nbsp;
      Currently <img src="https://img.shields.io/github/v/release/anyblades/blades?label=&color=white">
    </small></small>
    <br><br>
  </footer>
{% endblock %}
