{% extends 'blades/html.njk' %}

{% set content_for_header %}
  <link rel="canonical" href="https://11ty.blades.ninja/starters/" />
  <style>
    main {
      display: flex; overflow: clip;
      > iframe { width: 100%; max-width: 1023px; margin: -200px auto 0 auto }
    }
    a[role="button"] {
      text-align: start;
      border-width: 1px 0 0 1px;
      margin: 0 0 0.5rem -1rem;
    }
    .opt { @media screen and (max-width: 767px) { display: none } }
  </style>
{% endset %}

{% block body %}
  <header class="container">
    <nav>
      <big><big><a href="/"><i>🥷</i> <span><em>Bl</em>ades</span></a></big></big>
      <ul>
        <li><details class="dropdown"><summary>Docs</summary>
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        </details></li>
        <li class="faded">|</li>
        <li><a href="https://github.com/anyblades/blades"><i class="fa-brands fa-github fa-lg"></i></a></li>
        <li><a href="https://x.com/any_blades"><i class="fa-brands fa-x-twitter fa-lg"></i></a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% if iframe %}
      <iframe src="{{ iframe }}"></iframe>
    {% else %}
      <div class="container breakout-all">
        <h1>{{ title }}</h1>
        <p><big>{{ description }}</big></p>
        {{ content | safe }}
      </div>
    {% endif %}
  </main>
  <footer class="container">
    Footer
  </footer>
{% endblock %}
