{% extends 'blades/html.njk' %}

{% set content_for_header %}
  <link rel="canonical" href="https://11ty.blades.ninja/starters/" />
  <style>
    header nav {
      --pico-primary: var(--pico-contrast);
      align-items: center;
      big a { text-decoration: none; font-weight: bold; font-size: larger; }
    }
    :is(h1, h2) sup {
      font-size: 13px; display: block;
      letter-spacing: .0625em; text-transform: uppercase;
    }
    h1 sup { color: #8b4f00 }
    :is(a, summary) mark {
      font-size: 12px; vertical-align: text-bottom;
      font-weight: 600; border-radius: .125rem;
    }
    /* a[role="button"] {
      text-align: start;
      border-width: 1px 0 0 1px;
      margin: 0 0 0.5rem -1rem;
    } */
    .opt { @media(max-width: 767px) { display: none } }
  </style>
{% endset %}

{% block body %}
  <header class="container">
    <nav>
      {#TODO: add "Nav brand" helper #}
      <big><a href="/">🥷 <em>Bl</em>ades</a></big>
      <ul>
        {% for page in collections.all | eleventyNavigation %}
        <li>
          <details class="dropdown">
            <summary role="link">{{ page.key | safe }}</summary>
            {{ collections.all | eleventyNavigation(page.key) | eleventyNavigationToHtml | safe }}
          </details>
        </li>
        {% endfor %}
        <li class="faded opt">|</li>
        <li><a href="https://github.com/anyblades/blades"><i class="fa-brands fa-github fa-lg"></i></a></li>
        <li><a href="https://x.com/any_blades"><i class="fa-brands fa-x-twitter fa-lg"></i></a></li>
      </ul>
    </nav>
  </header>
  <main class="{{ 'container breakout-all' if not iframe }}">
    {% if title %}
    <h1>
      {% if eleventyNavigation.parent %}<sup>{{ eleventyNavigation.parent }}</sup>{% endif %}
      {{ title | safe }}
    </h1>
    {% endif %}
    {% if description %}<p><big>{{ description }}</big></p>{% endif %}
    {{ content | safe }}

    {% for item in includes %}
      {% if item.md %}
        {{ item.md | markdownify | safe }}
      {% elif item.tpl %}
        {{ item.tpl | renderContent('njk', { collections: collections }) | safe }}
      {% elif item.path %}
        {% set _path = item.path %}
        {% if not site.prod and '/anyblades/' in _path %}
          {% set _path = _path
            | replace('https://raw.githubusercontent.com/anyblades/', '../')
            | replace('/refs/heads/main/', '/') | replace('/refs/heads/master/', '/') %}
        {% endif %}
        {% for _section in item.sections | d([item.section]) %}
          {% if _section == 'code' %}<h2>How it works</h2>{% endif %}
          {{ _path | fetch | section(_section) | markdownify | safe }}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </main>
  <footer class="container">
    <hr style="margin-block-start: 0">
    <small><small>
      Code licensed <a href="https://github.com/anyblades/blades/blob/main/LICENSE.md">MIT</a>,
      docs <a href="https://github.com/anyblades/blades.ninja/blob/main/LICENSE.md">CC BY-SA 4.0</a>. &nbsp;
      Currently <img src="https://img.shields.io/github/v/release/anyblades/blades?label=&color=white">
    </small></small>
    <br><br>
  </footer>
{% endblock %}
