---
permalink: "{{ iframe.src | replace('https://picocss.com/', '/') | replace('/docs/', '/css/') | replace('/css/css-', '/css/') }}/"
eleventyComputed:
  eleventyNavigation:
    parent: "{{ iframe.parent }}"
    key: "{{ iframe.key }}"
    order: "{{ iframe.order }}"

pagination:
  data: iframes
  size: 1
  alias: iframe
  addAllPagesToCollections: true

site:
  inline_styles:
    - |-
      main { display: flex; overflow: clip; padding: 0 !important }
      iframe { width: 100%; margin: -160px auto 0 auto }
      footer { display: none }
---

<iframe
  src="{{ iframe.src }}"
  style="{{ 'max-width: 1023px' if iframe.key != 'Examples' }}"
></iframe>
