---
pagination:
  data: pages
  size: 1
  alias: _
  addAllPagesToCollections: true
permalink: "{{ _.permalink if _.permalink else (_.iframe | replace('https://picocss.com/', '/') | replace('/docs/', '/css/') ) }}/"
eleventyComputed:
  layout: "{{ './iframe.njk' if _.iframe else './default.njk' }}"
---
