---
permalink: /
site:
  inline_styles:
    - |-
      a:has(> i) em { opacity: 50%; font-style: normal }

=== CONTENT: ===
eleventyComputed:
  #TODO: add to tricks
  description: |-
    {{ ('https://raw.githubusercontent.com/anyblades/blades/refs/heads/main/README.md' if site.prod else '../../blades/README.md')
      | fetch | section('summary') | markdownify | safe }}
  title: "Blades • {{ description | split('</h1>') | first | striptags }}"
bricks:
  - content_here: true
  - md: |-
      ---
      ## <sup>Documentation</sup> {#docs}
      If you know Pico — you already know Blades:
  - tpl: "{% include './sitenav.njk' %}"
  - md: ---
  - path: https://raw.githubusercontent.com/anyblades/blades/refs/heads/main/README.md
    section: info
---

<section class="hero">
  {{ description | safe }}

  <nav>
    <p>
      <a href="/css/" role="button">Get Started &nbsp;›</a><br />
      <sub>with Pico CSS ✨</sub>
    </p>
    <p>
      <a href="/css/standalone/" role="button" class="contrast"
        >Use Standalone &nbsp;›</a
      ><br />
      <sub
        >with other frameworks <i class="fa-brands fa-tailwind-css"></i
        ><i class="fa-brands fa-bootstrap"></i
      ></sub>
    </p>
  </nav>
</section>

<hr />
<!--section:trusted/11ty-->
<h2 id="trusted"><sup>Trusted by</sup></h2>
<br />
<div class="grid breakout-item-max">
  <!--section:SKIP-->
  <article>
    <header>
      <a href="https://palletsprojects.com/">
        <i
          ><img
            src="https://palletsprojects.com/static/content/projects/flask-logo.svg"
        /></i>
        Flask
      </a>
      <span class="faded">&</span>
      <a href="https://palletsprojects.com/">
        <i
          ><img
            src="https://palletsprojects.com/static/content/projects/jinja-logo.svg"
        /></i>
        Jinja
      </a>
    </header>
    Powering their community <a href="//github.com/pallets/website">website</a>
  </article>
  <article>
    <header>
      <a href="https://getgrav.org/">Grav CMS <em>v2</em></a>
    </header>
    Powering new default
    <a href="//github.com/getgrav/grav-theme-quark2">Quark&nbsp;2</a> theme
  </article>
  <article>
    <header>
      <a href="https://www.11ty.dev/">Eleventy</a>
    </header>
    Providing multiple starter
    <a href="//www.11ty.dev/docs/starter/#:~:text=blades">templates</a>
  </article>
  <!--section:trusted/11ty-->
  <article>
    <header>
      <a href="https://sveltiacms.app/">Sveltia CMS</a>
    </header>
    Providing multiple starter
    <a href="//sveltiacms.app/en/docs/start#starter-templates:~:text=anyblades"
      >templates</a
    >
  </article>
  <article>
    <header>
      <a href="https://hostfurl.com/">
        <i class="dark-auto"><img src="https://hostfurl.com/favicon.svg" /></i>
        Hostfurl
      </a>
    </header>
    Powering <a href="//github.com/hostfurl/minformhf">Minformhf</a> template
  </article>
  <!--section:trusted/11ty/END-->
</div>
<style>
  .grid:has(article) {
    min-width: min(130%, 100dvw) !important;
    padding-inline: 1rem;
    gap: 2px;
  }
  article:has(> header) {
    background: none;
    font-size: smaller;
    border: 2px solid var(--pico-card-sectioning-background-color);
  }
  article header a {
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: var(--pico-contrast);
  }
</style>
<!--section:END-->
