---
permalink: /
eleventyComputed:
  #TODO: example of use https://11ty.blades.ninja/filters/section/, https://11ty.blades.ninja/filters/fetch/
  description: |-
    {{ ('https://raw.githubusercontent.com/anyblades/blades/refs/heads/main/README.md' if site.prod else '../../blades/README.md')
      | fetch | section('summary') | markdownify | safe }}
  title: "Blades • {{ description | split('</h1>') | first | striptags }}"
bricks:
  - content_here: true
  - md: |-
      ---
      ## <sup style>Documentation</sup> {#docs}
      If you know Pico — you already know Blades:
  - tpl: "{% include './sitenav.njk' %}"
  - md: ---
  - path: https://raw.githubusercontent.com/anyblades/blades/refs/heads/main/README.md
    section: info
---

<style>
  a:has(> i) em {
    opacity: 50%;
    font-style: normal;
  }
</style>

<section class="hero">
  {{ description | safe }}
</section>

<hr />
<h2>
  <sup style><span class="faded">Hi</span>story</sup>
  From Pico CSS to Blades CSS
</h2>
