---
permalink: /
eleventyComputed:
  #TODO: add to tricks
  _description: |-
    {{ ('https://raw.githubusercontent.com/anyblades/blades/refs/heads/main/README.md' if site.prod else '../blades/README.md')
      | fetch | section('summary') | markdownify | safe }}
  description: "{{ _description | replace('&nbsp;', ' ') | safe }}"
  title: "{{ site.title}} • {{ description | split('</h1>') | first | striptags }}"

bricks:
  - content_here: true
  - md: ---
  - path: https://raw.githubusercontent.com/anyblades/blades/refs/heads/main/README.md
    section: info
---

<section class="hero">
  {{ _description | replace('<wbr>', '<br>') | safe }}

  <nav>
    <p>
      <a href="/css/" role="button">Get Started &nbsp;›</a><br>
      <sub>Pico CSS ✨</sub>
    </p>
    <p>
      <a href="/css/standalone/" role="button" class="contrast">Use Standalone &nbsp;›</a><br>
      <sub>other frameworks <i class="fa-brands fa-tailwind-css"></i><i class="fa-brands fa-bootstrap"></i></sub>
    </p>
  </nav>
</section>

<hr>
<h2 id="docs"><sup>Documentation</sup></h2>
<p>If you know Pico — you know Blades already:</p>

<ul class="columns">
  {% for page in collections.all | eleventyNavigation %}
  <li>
    <strong><a href="{{ page.url }}">{{ page.key | safe }}</a></strong>
    {{ collections.all | eleventyNavigation(page.key) | eleventyNavigationToHtml
      | replace(' href="/', ' href="' + (site.base if site.prod) + '/') | safe }}
  </li>
  {% endfor %}
</ul>
