{% extends './blades/html.njk' %}

{% if not title and title != false %}{% set title = eleventyNavigation.key | remove_tag('mark') %}{% endif %}

{% if not site.prod %}
  {% set site = site | attr_set('styles', site.styles | join('|') | replace('https://cdn.jsdelivr.net/npm/@anyblades/blades@2/css', '') | split('|')) %}
{% endif %}

{% set content_for_header %}
  <meta name="generator" content="{{ site.generator }}">
{% endset %}

{% block body %}
  <header class="container">
    <nav>
      {#TODO: add "Nav brand" helper #}
      <big><a href="/">{{ site.brand | safe }}</a></big>
      <ul>
        <li class="sitenav">
          {{ site.header_sitenav_label | safe }}
          {% for page in collections.all | eleventyNavigation %}
            {% set _subnav = collections.all | eleventyNavigation(page.key) | eleventyNavigationToHtml %}
            {% if _subnav %}
            <details class="dropdown">
              <summary role="link">{{ page.key | safe }}</summary>
              {{ _subnav | safe }}
            </details>
            {% else %}
            <a href="{{ page.url }}">{{ page.key | safe }}</a>
            {% endif %}
          {% endfor %}
        </li>
        <li class="faded opt">|</li>
      </ul>
      {% renderFile './_includes/blades/links.njk', { links: site.header_links } %}
    </nav>
  </header>
  {% block main %}
  <main class="container breakout-all">
    {% if hero %}
      <section class="hero">{{ hero | safe }}</section>
    {% else %}
      <h1>
        {% if eleventyNavigation.parent %}<sup style>{{ eleventyNavigation.parent | safe }}</sup>{% endif %}
        {% if title %}{% include './h1.njk' %}{% endif %}
      </h1>
      {% if description %}<big>{{ description | markdownify | safe }}</big>{% endif %}
    {% endif %}

    {% set content_here = false %}
    {% for brick in bricks %}
      {% if brick.md %}
        {{ brick.md | markdownify | safe }}
      {% elif brick.tpl %}
        {{ brick.tpl | renderContent('njk', { collections: collections, site: site }) | safe }}
      {% elif brick.path %}
        {% set _path = brick.path %}
        {% if not site.prod and '/anyblades/' in _path %}
          {% set _path = _path
            | replace('https://raw.githubusercontent.com/anyblades/', '../../')
            | replace('/refs/heads/main/', '/') | replace('/refs/heads/master/', '/') %}
        {% endif %}
        {% set _fetched = _path | fetch %}
        {% if brick.section or brick.sections %}
          {% for _section in brick.sections | d([brick.section]) %}
            {% set _ = _fetched | section(_section) | replace('/*```', '```') | replace('//```', '```') | replace('{'~'#```', '```') | replace('```\n*/', '```') %}
            {% if _section == 'code' %}
              <br><details class="breakout-item" {{ 'open' if _ | length < 500 }}><summary role="button" class="outline">How it works</summary>
              {% set _ = '> ' ~ brick.path ~ ' :\n' ~ _ %}
            {% endif %}
            {{ _ | markdownify | safe }}
            {% if _section == 'code' %}</details>{% endif %}
          {% endfor %}
        {% elif 'https://picocss.com/' in brick.path %}
          <big>{{ _fetched | split('</hgroup>') | first
            | split('</h1>') | last
            | safe }}</big>
          {{ _fetched | split('</main>') | first
            | split('<div id="content" role="document">') | last
            | strip_tag('section') | safe }}
        {% else %}
          {{ _fetched | markdownify | safe }}
        {% endif %}
      {% elif brick.content_here %}
        {% if '{' in (brick.content_here | string) %}
          {% set content = brick.content_here | renderContent('njk', { content: content }) %}
        {% endif %}
        {{ content | safe }}
        {% set content_here = true %}
      {% endif %}
    {% endfor %}

    {% if not content_here %}
      {{ content | safe }}
    {% endif %}

    {% if page.url != '/' %}
      {{ collections.all | eleventyNavigation(eleventyNavigation.key) | eleventyNavigationToHtml | safe }}
    {% endif %}
  </main>
  {% endblock %}
  <footer class="container">
    <hr style="margin-block-start: 0">
    <small><small>{{ site.footer_contents | join(' ') | markdownify | safe }}</small></small>
    <br><br>
  </footer>

  <a href="#" data-jump-to="top" title="Fly to top" style="text-decoration: none">
    <i class="fa-solid fa-plane-up fa-border dark-auto"></i>
  </a>
{% endblock %}
