{% set site = pkg.site | merge(site) %}
{% if not title and title != false %}{% set title = eleventyNavigation.key | remove_tag('mark') %}{% endif %}
{% extends './blades/html.njk' %}

{% set content_for_header %}
  {{ content_for_header | safe }}
  <meta name="generator" content="{{ site.generator }}">
  <a rel="me" href="https://mastodon.social/@anydigital">Mastodon</a>
  <style>
    header nav {
      --pico-primary: var(--pico-contrast);
      align-items: center; justify-content: end;
      > :first-child { margin-inline-end: auto }
      big a { text-decoration: none; font-weight: bold; font-size: larger; }
    }
    body > main { padding-block-start: 2rem }
    .hero {
      display: flex; flex-direction: column; text-wrap: balance;
      @media(width >= 768px) {
        justify-content: center; text-align: center;
        min-height: calc(100dvh - 200px);
      }

      nav {
        gap: 1rem; margin-block-start: 3rem; justify-content: normal;
        @media(width >= 768px) { justify-content: center }
      }
    }
    h1 { text-wrap: balance }
    *:is(h1, h2) sup {
      font-size: 13px; display: block;
      letter-spacing: .0625em; text-transform: uppercase;
    }
    h1 sup { color: #8b4f00 }
    *:is(h1, h2, h3) mark {
      background: linear-gradient(to right, rgb(215.4, 140.8, 210.2), rgb(184.5, 153, 237.75), rgb(156.6, 165.3, 232.6), rgb(142.75, 168.95, 240.05));
      background-clip: text; color: transparent;
      padding: 0;
    }
    *:is(h1, td) sub {
      display: block; line-height: 1.1;
      bottom: 0; /* vertical-align: top; */
      font-weight: 300; opacity: 75%;
    }
    h1 sub {
      font-size: 50%;
    }
    *:is(a, summary) mark {
      font-size: 12px; vertical-align: text-bottom;
      font-weight: 600; border-radius: .125rem;
    }
    pre:has(code) { background: #181c25 !important; }
    .fa-tailwind-css  { color: deepskyblue }
    .fa-bootstrap     { color: blueviolet }
    /*TODO: fix in blades.css */
    /* a[role=button] {
      display: inline-flex;
    } */
    /* Teasers
    a[role=button] {
      text-align: start;
      border-width: 1px 0 0 1px;
      margin: 0 0 0.5rem -1rem;
    } */
    /*TODO: add to blades.ninja.css */
    .opt { @media (width < 768px) { display: none } }
    img[src*="?domain=github.com&"] {
      border-radius: 50%;
      @media (prefers-color-scheme: dark) { filter: invert(1) }
    }
  </style>
{% endset %}

{% block body %}
  <header class="container">
    <nav>
      {#TODO: add "Nav brand" helper #}
      <big><a href="/">{{ site.brand | safe }}</a></big>
      <ul>
        <li><a href="/#docs">Docs</a></li>
        {% for page in collections.all | eleventyNavigation %}
        <li class="opt">
          {% set _subnav = collections.all | eleventyNavigation(page.key) | eleventyNavigationToHtml %}
          {% if _subnav %}
          <details class="dropdown">
            <summary role="link">{{ page.key | safe }}</summary>
            {{ _subnav | safe }}
          </details>
          {% else %}
          <a href="{{ page.url }}">{{ page.key | safe }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% renderFile './_includes/links.njk', { links: site.header_links } %}
    </nav>
  </header>
  {% block main %}
  <main class="container breakout-all">
    {% if page.url != '/' %}
      <h1>
        {% if eleventyNavigation.parent %}<sup>{{ eleventyNavigation.parent | safe }}</sup>{% endif %}
        {% if title %}{% include './h1.njk' %}{% endif %}
      </h1>
      {% if description %}<big>{{ description | markdownify | safe }}</big>{% endif %}
    {% endif %}

    {% set content_here = false %}
    {% for brick in bricks %}
      {% if brick.md %}
        {{ brick.md | markdownify | safe }}
      {% elif brick.tpl %}
        {{ brick.tpl | renderContent('njk', { collections: collections, site: site }) | safe }}
      {% elif brick.path %}
        {% set _path = brick.path %}
        {% if not site.prod and '/anyblades/' in _path %}
          {% set _path = _path
            | replace('https://raw.githubusercontent.com/anyblades/', '../../')
            | replace('/refs/heads/main/', '/') | replace('/refs/heads/master/', '/') %}
        {% endif %}
        {% set _fetched = _path | fetch %}
        {% if brick.section or brick.sections %}
          {% for _section in brick.sections | d([brick.section]) %}
            {% if _section == 'code' %}<h3>How it works</h3>{% endif %}
            {{ _fetched | section(_section) | replace('/*```', '```') | markdownify | safe }}
          {% endfor %}
        {% elif 'https://picocss.com/' in brick.path %}
          <big>{{ _fetched | split('</hgroup>') | first
            | split('</h1>') | last
            | safe }}</big>
          {{ _fetched | split('</main>') | first
            | split('<div id="content" role="document">') | last
            | strip_tag('section') | safe }}
        {% else %}
          {{ _fetched | markdownify | safe }}
        {% endif %}
      {% elif brick.content_here %}
        {% if '{' in (brick.content_here | string) %}
          {% set content = brick.content_here | renderContent('njk', { content: content }) %}
        {% endif %}
        {{ content | safe }}
        {% set content_here = true %}
      {% endif %}
    {% endfor %}

    {% if not content_here %}
      {{ content | safe }}
    {% endif %}

    {% if page.url != '/' %}
      {{ collections.all | eleventyNavigation(eleventyNavigation.key) | eleventyNavigationToHtml | safe }}
    {% endif %}
  </main>
  {% endblock %}
  <footer class="container">
    <hr style="margin-block-start: 0">
    <small><small>{{ site.footer_contents | join(' ') | markdownify | safe }}</small></small>
    <br><br>
  </footer>
{% endblock %}
