<ul class="columns">
  {% for page in collections.all | eleventyNavigation %}
  <li>
    <strong><a href="{{ page.url }}">{{ page.key | safe }}</a></strong>
    {{ collections.all | eleventyNavigation(page.key) | eleventyNavigationToHtml
      | replace(' href="/', ' href="' + (site.base if site.prod) + '/') | replace("https://", "//") | safe }}
  </li>
  {% endfor %}
</ul>
